.grid {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-areas:
        ". a1 ."
        "a2 . a3"
        ". a4 .";
    gap: 20px;
}

.grid__item {
    background-color: pink;
    text-align: center;
max-width: 300px;
    padding: 30px;
}

.grid__item--top {
    grid-area: a1;
}

.grid__item--bottom {
    grid-area: a4;
}

.grid__item--left {
    grid-area: a2;
}

.grid__item--right {
    grid-area: a3;
}